@model IEnumerable<Group5_LonghornAirlines_FinalProject.Models.AppUser>

@{
    ViewData["Title"] = "Employees";
}

<h1>Employee List</h1>

<form asp-action="Employees" asp-controller="AppUser" method="get">
    <p class="form-group">
        Search Employee First or Last Name or go to detailed search: <input name="SearchString" class="form-control" /><br />
        <button type="submit" class="btn btn-primary">Search</button>
        <a asp-action="DetailedEmployeeSearch" class="btn btn-success">Detailed Search</a>
        <a asp-action="Employees" class="btn btn-danger">Show All</a>
        <a asp-action="Index" class="btn btn-danger">Show Customers</a>
    </p>
</form>

@if (User.IsInRole("Manager"))
{
    <p>
        <a asp-action="Create" asp-controller="AppUser">Create New</a>
    </p>
}

<p>
    Displaying @ViewBag.SelectedUsersCount of @ViewBag.TotalUsersCount Employees
</p>

@if (User.IsInRole("Manager") || User.IsInRole("Agent"))
    {
    <div class="alert alert-info mt-4" role="alert">
        <strong>Note:</strong> To ban/deactivate an employee, please click edit on the employee of your choice and click the active status button on the edit page. To ban/deactivate a customer, please click the show customer button.
    </div>

    <div class="alert alert-info mt-4" role="alert">
        <strong>Note:</strong> If you want to promote/demote an employee, please go to the Manager Users button at the top of the Navbar and follow the instructions on that page.
    </div>

    }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleInitial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleInitial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @if (User.IsInRole("Manager"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                }
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
