@model IEnumerable<Group5_LonghornAirlines_FinalProject.Models.AppUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Customer List</h1>

<form asp-action="Index" asp-controller="AppUser" method="get">
    <p class="form-group">
        Search Customer First or Last Name or go to detailed search: <input name="SearchString" class="form-control" /><br />
        <button type="submit" class="btn btn-primary">Search</button>
        <a asp-action="DetailedSearch" class="btn btn-success">Detailed Search</a>
        <a asp-action="Index" class="btn btn-danger">Show All</a>
    </p>
</form>

@if (User.IsInRole("Manager") || User.IsInRole("Agent"))
{
    <p>
        <a asp-action="Employees" class="btn btn-danger">Show Employees</a>
    </p>
}

@if (User.IsInRole("Manager") || User.IsInRole("Agent"))
{
    <p>
        <a asp-action="Create" asp-controller="AppUser">Create New</a>
    </p>
}

<p>
    Displaying @ViewBag.SelectedUsersCount of @ViewBag.TotalUsersCount Customers
</p>



@if (User.IsInRole("Manager") || User.IsInRole("Agent"))
{
    <div class="alert alert-info mt-4" role="alert">
        <strong>Note:</strong> To ban/deactivate an employee, please click the show employees button above.
    </div>

    <div class="alert alert-info mt-4" role="alert">
        <strong>Note:</strong> To ban/deactivate a customer, please click edit on the customer of your choice and then edit the active status checkbox.
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleInitial)
            </th>

            @if (User.IsInRole("Manager") || User.IsInRole("Agent"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.ActiveStatus)
                </th>

            }
            <th>
                @Html.DisplayNameFor(model => model.AdvantageNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleInitial)
                </td>
                @if (User.IsInRole("Manager") || User.IsInRole("Agent"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ActiveStatus)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.AdvantageNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Miles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @if (User.IsInRole("Manager") || User.IsInRole("Agent"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>

                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                }

                @*<td>
                        <a asp-action="BookReservation" asp-route-id="@item.Id">Book Reservation</a>
                    </td>*@

            </tr>
        }
    </tbody>
</table>
