@model Group5_LonghornAirlines_FinalProject.Models.ReservationEmbryo

@{
    ViewData["Title"] = "Flyer Selection";
}

<h1>Flyer Selection</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-action="FlyerSelection" asp-controller="Flights" method="post">
    @Html.HiddenFor(model => model.Flight.FlightID)
    <!-- Assuming FlightPath is a complex object, you may need to serialize it -->
    <!-- You may need to handle FlightPath serialization separately -->
    <input type="hidden" name="Flight.FlightPath" value="@Model.Flight.FlightPath" />
    <table class="table">
        <thead>
            <tr>
                <th>Flying?</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Middle Initial</th>
                <th>Active Status</th>
                <th>Advantage Number</th>
                <th>Discount Type</th>
                <th>Miles</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flyer in Model.Flyers)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selectedUserIds" value="@flyer.Customer.Id" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flyer.Customer.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flyer.Customer.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flyer.Customer.MiddleInitial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flyer.Customer.ActiveStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flyer.Customer.AdvantageNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flyer.DiscountType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flyer.Customer.Miles)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flyer.Customer.UserName)
                    </td>
                </tr>
            }
        </tbody>
        <div class="form-group">
            <input type="submit" value="Proceed" class="btn btn-success" />
        </div>
    </table>
</form>



@* @using (Html.BeginForm("FlyerSelection", "Flights", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Flight.FlightID)
    <!-- Assuming FlightPath is a complex object, you may need to serialize it -->
    <!-- You may need to handle FlightPath serialization separately -->
    <input type="hidden" name="Flight.FlightPath" value="@Model.Flight.FlightPath" />
    <table class="table">
        <thead>
            <tr>
                <th>Flying?</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Middle Initial</th>
                <th>Active Status</th>
                <th>Advantage Number</th>
                <th>Discount Type</th>
                <th>Miles</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flyer in Model.Flyers)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selectedUserIds" value="@flyer.Customer.Id" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flyer.Customer.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flyer.Customer.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flyer.Customer.MiddleInitial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flyer.Customer.ActiveStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flyer.Customer.AdvantageNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flyer.DiscountType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flyer.Customer.Miles)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => flyer.Customer.UserName)
                    </td>
                </tr>
            }
        </tbody>
        <div class="form-group">
            <input type="submit" value="Proceed" class="btn btn-success" />
        </div>
    </table>
}
 *@